/*
    FileName:   Project.css
    Author:     Jaden Mantie
    Date:       2025/09/06

    Used in:    Project.jsx
 */

.prj-image {
    margin: 1%;
    max-width: 200px;
    border: black solid 2px;
}

.project {
    display: flex;
    width: 80%;
    margin: 5%;
    background: rgba(0,0,0,5%);
    border: rgba(0,0,0, 15%) 2px solid;
    border-radius: 0.2em;
}

.project:nth-of-type(even) {
    margin-left: 15%;
}

.prj-text {
    padding: 0 1%;
    width: 100%;
    text-align: left;
}

i {
    font-size: 1.05em;
}