
.img-resume {
    margin: 3% 10%;
    width: 80%;
    border: 5px rgba(0,0,0,10%) solid;
}

.img-resume:hover {
    animation: lift 5s ease-out;
}

@keyframes lift {
    0% {box-shadow: none}
    50% {box-shadow: rgba(0,0,0,80) 0 0 30px}
    100% {box-shadow: none}
}