
.img-resume {
    margin: 2% 10%;
    width: 80%;
    border: 5px rgba(0,0,0,10%) solid;
    box-shadow: rgba(0,0,0,80) 0 0 30px;
}

.img-resume:hover {
    animation: drop 2s ease-out forwards;
}

@keyframes drop {
    from {box-shadow: rgba(0,0,0,80) 0 0 30px}
    to {box-shadow: none}
}