/*
    FileName:   Skills.css
    Author:     Jaden Mantie
    Date:       2025/09/11

    Used in:    Skills.jsx
 */

table {
    margin: 0 auto;
    width: 80%;
}

td {
    width: 125px;
    text-align: center;
    background: rgba(0,0,0,10%);
    border: 1px solid rgba(0,0,0,20%);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}